[project]
	description = Emacs 24.4 + with battery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lingchao Xin (douglarek)
[access "refs/for/refs/*"]
	read = group user/Lingchao Xin (douglarek)
	push = group user/Lingchao Xin (douglarek)
	label-Code-Review = -2..+2 group user/Lingchao Xin (douglarek)
	label-Verified = -1..+1 group user/Lingchao Xin (douglarek)
	rebase = group user/Lingchao Xin (douglarek)
	removeReviewer = group user/Lingchao Xin (douglarek)
	submit = group user/Lingchao Xin (douglarek)
[access "refs/heads/*"]
	read = group user/Lingchao Xin (douglarek)
	create = group user/Lingchao Xin (douglarek)
	push = +force group user/Lingchao Xin (douglarek)
	pushMerge = group user/Lingchao Xin (douglarek)
[access "refs/tags/*"]
	push = +force group user/Lingchao Xin (douglarek)
	pushTag = group user/Lingchao Xin (douglarek)
	pushSignedTag = group user/Lingchao Xin (douglarek)
